<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Discover Card</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body style="padding: 0; margin: 0 auto; color: #63686b; font-family: Arial; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
    <table style="background: #ffffff; border-collapse: collapse" width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td valign="top" width="100%">
                <img border="0" alt="" height="1" width="2" src="#" style="visibility: hidden;"/>
                <img border="0" width="1" height="1" src="https://d.xp1.ru4.com/activity?_o=15755&amp;_t=8867550&amp;ssv_edskey=null" style="visibility: hidden;"/>
                <table style="background: #ffffff; border-collapse: collapse; margin: 0 auto" class="tableWidth" width="600" align="center" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td align="right">
                            <table style="text-decoration: none; font-size: 10px; color: #293033;" align="right" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td style="height: 30px;"/>
                                </tr>
                                <tr>
                                    <td style="padding-right: 15px">
                                        <span style="font-size: 11px; font-family: arial, sans-serif; color: #293033; line-height: 12px;">
                                            <img border="0" height="9" width="8" src="https://www.discover.com/dms/images/discovercard/gray_lock.gif"/> 
                                            <a style="text-decoration: none; color: #2477ab;" href="#">Account Center</a>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="15"/>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" class="tableWidth" width="600" align="left" bgcolor="#23233f" border="0">
                                <tr>
                                    <td style="background-color: #23233f;" height="22"/>
                                </tr>
                                <tr>
                                    <td style="background-color: #23233f; text-align: left;" valign="top">
                                        <table cellspacing="0" cellpadding="0" align="left" border="0">
                                            <tr>
                                                <td style="padding: 0px 0px 0px 20px;">
                                                    <img border="0" alt="Discover logo" align="left" height="24" width="143" src="https://www.discover.com/dms/images/discovercard/headlogo_v6.png"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #23233f;" height="25"/>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="hheightChange" style="height: 25px;"/>
                    </tr>
                    <tr>
                        <td>
                            <table style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top:0;" border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
                                <tr>
                                    <td align="center">
                                        <table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td align="center">
                                                    <table style="margin-left: auto; margin-right: auto; max-width: 600px;" border="0" cellspacing="0" cellpadding="10" width="90%" align="center">
                                                        <tr>
                                                            <td style="padding:5px;">
                                                                <strong>
                                                                    <p style="text-align: left; font-size: 24px; font-family: arial, sans-serif; color: #ff6600; margin-bottom: 20px; line-height: 38px;">The Identification code you requested is below</p>
                                                                </strong>
                                                                <p style="text-align: left; font-size: 16px; font-family: arial, sans-serif; color:#63686b; line-height: 20px;">
                                                                    Discover<sup style="font-size:12px; vertical-align:8px; font-family: Arial; line-height: 0;">®</sup> will never call and ask you for this code. Do not share this code with anyone, unless you initiated the request.<br/><br/>
                                                                    <p style="text-align: center; font-size: 16px; font-family: arial, sans-serif; color:#63686b; line-height: 20px;">
                                                                        <b>Temporary identification code: {{ code }}</b><br/><br/>
                                                          
                                                                       
                                                                    </p>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 20px">
                            <table style="border-collapse: collapse" class="innerWidth" width="560" align="center" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="heighChange" style="height: 55px;"/>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr>
                                                <td>
                                                    <table cellspacing="0" cellpadding="0" align="center" border="0">
                                                        <tr>
                                                            <td style="font-size:18px; color:#000000; line-height:20px; mso-line-height-rule:exactly;" align="center"><strong>Discover App</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="7"/>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:16px; color:#63686b; line-height:20px; mso-line-height-rule:exactly;" align="center">Manage your account anywhere</td>
                                                        </tr>
                                                    </table>
                                                    <table cellspacing="0" cellpadding="0" align="center" border="0">
                                                        <tr>
                                                            <td height="25" colspan="2"/>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: right; padding-right: 10px;">
                                                                <a target="_blank" href="#">
                                                                    <img alt="Apple App Store" style="display: block" height="34" width="115" src="https://www.discover.com/dms/images/discovercard/App_Store_v6.png"/>
                                                                </a>
                                                            </td>
                                                            <td style="text-align: right">
                                                                <a target="_blank" href="#">
                                                                    <img alt="Google Play Store" style="display: block" height="34" width="115" src="https://www.discover.com/dms/images/discovercard/google-play_v6.png"/>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="heightChangeO" style="height: 45px;"/>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="disPad" style="padding:0px 56px 0px; background-color: #f2f2f2;">
                            <table align="center" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td class="bottom-up-d" style="background-color: #f2f2f2; height: 35px;"/>
                                </tr>
                                <tr>
                                    <td style="background-color: #f2f2f2;">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr>
                                                <td>
                                                    <table width="48%" cellspacing="0" cellpadding="0" align="right" border="0">
                                                        <tr>
                                                            <td class="paddingsociaklink innertableWidthCenter" align="center">
                                                                <table class="topPosition" align="right" cellspacing="0" cellpadding="0" border="0">
                                                                    <tr>
                                                                        <td style="padding-right:15px; padding-left:8px" class="padRight">
                                                                            <a target="_blank" href="#">
                                                                                <img width="28" height="28" class="social-media" alt="FACEBOOK" src="https://www.discover.com/dms/images/discovercard/fb_v6.png" style="width: 38px !important; height: 38px !important;"/>
                                                                            </a>
                                                                        </td>
                                                                        <td style="padding-right:15px" class="padRight">
                                                                            <a target="_blank" href="#">
                                                                                <img width="28" height="28" class="social-media" alt="TWITTER" src="https://www.discover.com/dms/images/discovercard/tw_v6.png" style="width: 38px !important; height: 38px !important;"/>
                                                                            </a>
                                                                        </td>
                                                                        <td style="padding-right:15px" class="padRight">
                                                                            <a target="_blank" href="#r">
                                                                                <img width="28" height="28" class="social-media" alt="INSTAGRAM" src="https://www.discover.com/dms/images/discovercard/in_v6.png" style="width: 38px !important; height: 38px !important;"/>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a target="_blank" href="#">
                                                                                <img width="28" height="28" class="social-media" alt="REFER A FRIEND" src="https://www.discover.com/dms/images/discovercard/mi_v6.png" style="width: 38px !important; height: 38px !important;"/>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table width="2%" cellspacing="0" cellpadding="0" align="right" border="0">
                                                        <tr>
                                                            <td class="mid-height" style="height: 30px;"/>
                                                        </tr>
                                                    </table>
                                                    <table class="innertableWidthCenter" width="48%" cellspacing="0" cellpadding="0" align="left" border="0">
                                                        <tr>
                                                            <td class="imglogo-pad" style="padding: 0px 69px !important;">
                                                                <a target="_blank" style="color: #fefefe; text-decoration: none;" href="#">
                                                                    <img alt="Discover logo" style="width: 142px; max-width: 142px; height: auto; border-width: 0; display: block;" border="0" width="142" src="https://www.discover.com/dms/images/discovercard/discover-logo_v6.png"/>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #f2f2f2; height: 60px;"/>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
